.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #154286;
    text-align: left;
}

.input {
    padding: 12px;
    border: 2px solid #a8c9e7;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #e8f5fe;
    text-align: left;
    width: 100%;
    resize: vertical;
}

.textarea {
    padding: 12px;
    border: 2px solid #a8c9e7;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #e8f5fe;
    text-align: left;
    width: 100%;
    resize: vertical;
}